# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# OSX files
.DS_Store


*.ipynb
*.tar*
*checkpoint*
*waste*
*events.out*
*script_log/*
*.pkl
*.pth
*/log*
*checkpoint/*
*.zip
bin
.idea
*.iml
*.jar
*.war
*.ear
target
.settings
.classpath
.project
*.log
rebel.xml
*.DS_Store
*.vscode
*__pycache__*
waste_data
result
init_depth_generator/saic_depth_completion/model
init_depth_generator/saic_depth_completion/tensorboard
init_depth_generator/saic_depth_completion/logs
init_depth_generator/saic_depth_completion/images
init_depth_generator/bts/output
init_depth_generator/bts/utils/splits.mat
init_depth_generator/bts/utils
init_depth_generator/bts/pytorch/official_model
init_depth_generator/bts/pytorch/result_bts_nyu_v2_pytorch_densenet161
init_depth_generator/bts/pytorch/important_model
init_depth_generator/bts/pytorch/models
init_depth_generator/bts/pytorch/output
init_depth_generator/bts/train_test_inputs
init_depth_generator/Depth-Completion
init_depth_generator/DeepCompletionRelease
init_depth_generator/VNL_Monocular_Depth_Prediction/output
Mirror3DNet/output
Mirror3DNet/weight
Mirror3DNet/important_checkpoint
annotation_tool/jupyter_debug
parallel_script
temp.py
dataset
other
init_depth_generator/bts/pytorch/distributed_sampler_no_evenly_divisible.py
init_depth_generator/VNL_Monocular_Depth_Prediction/tools/__init__.py
init_depth_generator/VNL_Monocular_Depth_Prediction/tools/parse_arg_val.py
init_depth_generator/VNL_Monocular_Depth_Prediction/tools/recover_surface_normal.py
init_depth_generator/VNL_Monocular_Depth_Prediction/tools/test_any_images.py
init_depth_generator/VNL_Monocular_Depth_Prediction/tools/test_kitti_metric.py
init_depth_generator/VNL_Monocular_Depth_Prediction/tools/parse_arg_test.py
init_depth_generator/VNL_Monocular_Depth_Prediction/tools/parse_arg_train.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/__init__.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/resnext_weights_helper.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/misc.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/evaluate_depth_error.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/timer.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/collections.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/training_stats.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/utils/mobilenetv2_weight_helper.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/core/__init__.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/configs/__init__.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/models/__init__.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/models/image_transfer.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/models/metric_depth_model.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/models/VNL_loss.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/models/MobileNetV2.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/models/ResNeXt.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/models/WCEL_loss.py
init_depth_generator/VNL_Monocular_Depth_Prediction/data/__init__.py
init_depth_generator/VNL_Monocular_Depth_Prediction/data/kitti_dataset.py
init_depth_generator/VNL_Monocular_Depth_Prediction/data/load_dataset.py
init_depth_generator/VNL_Monocular_Depth_Prediction/data/any_dataset.py
init_depth_generator/VNL_Monocular_Depth_Prediction/lib/configs
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/tracker.py
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/tensorboard.py
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/registry.py
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/model_zoo.py
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/visualize.py
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/snapshoter.py
init_depth_generator/saic_depth_completion/saic_depth_completion/utils/meter.py
init_depth_generator/saic_depth_completion/saic_depth_completion/ops/sean.py
init_depth_generator/saic_depth_completion/saic_depth_completion/ops/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/ops/batch_norm.py
init_depth_generator/saic_depth_completion/saic_depth_completion/ops/spade.py
init_depth_generator/saic_depth_completion/saic_depth_completion/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/lrn.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/blocks.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/dm_lrn.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/backbone/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/backbone/build.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/backbone/res_blocks.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/backbone/hrnet.py
init_depth_generator/saic_depth_completion/saic_depth_completion/modeling/backbone/resnet.py
init_depth_generator/saic_depth_completion/saic_depth_completion/metrics/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/metrics/absolute.py
init_depth_generator/saic_depth_completion/saic_depth_completion/metrics/relative.py
init_depth_generator/saic_depth_completion/saic_depth_completion/data/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/data/datasets/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/data/datasets/nyuv2_test.py
init_depth_generator/saic_depth_completion/saic_depth_completion/data/datasets/completion_dataset.py
init_depth_generator/saic_depth_completion/saic_depth_completion/engine/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/config/__init__.py
init_depth_generator/saic_depth_completion/saic_depth_completion/config/lrn.py
init_depth_generator/saic_depth_completion/saic_depth_completion/config/dm_lrn.py
init_depth_generator/saic_depth_completion/setup.py
init_depth_generator/saic_depth_completion/configs
init_depth_generator/saic_depth_completion/important_module
Mirror3DNet/detectron2_config
Mirror3DNet/sbatch_config
Mirror3DNet/chris_config
Mirror3DNet/planrcnn_detectron2_lib
Mirror3DNet/main
Mirror3DNet/config/mask_rcnn_R_50_FPN_1x.yaml
waste