.container {
    width: 900px;
    margin: auto;
    
}
div.header h1 {
    text-align: center;
    color: rgb(45, 51, 56);
}
div.header{
    border-bottom: lightgray solid 1px;
}

div.header span{
    text-align: center;
    color: slategray;
    margin: 5px;
    display: block
}


div.header li{
    display: inline;
    margin: 20px;
}

a {
    color: orange;
    text-decoration: none;
}

.intro-image img{
    width: 80%;
    margin: auto;
    display: block;
}

.intro-image label{
    text-align: center;
    display: block;
}

div.abstract h2{
    color:slategray;
}
div.abstract{
    border-top: lightgray solid 1px;
    display: block;
    margin-top: 20px;
}
div.abstract p{
    text-align: justify;
}

div.video{
    border-top: lightgray solid 1px;
    display: block;
    margin-top: 20px;
}

div.video h2{
    color:slategray;
}
div.video iframe{
    margin: auto;
    display: block;
}
