matplotlib==3.3.4
pycocotools==2.0.2
tabulate==0.8.9
torch==1.7.1
colorlog==4.7.2
dill==0.3.3
easydict==1.9
efficientnet_pytorch==0.7.0
numpy==1.20.1
Pillow==8.1.0
PyYAML==5.4.1
scipy==1.6.1
six==1.15.0
tensorboardX==2.1
torchvision==0.8.2
tqdm==4.58.0
opencv-python==4.5.1.48
scikit-image==0.18.1
sympy==1.7.1
beautifulsoup4==4.9.3
open3d==0.12.0